$bg_color1: rgba(0, 0, 0, 0.5)
$bg_color2: rgba(0, 0, 0, 0.5)
$bg_color3: rgba(0, 0, 0, 0.8)
$font_color1: #ecf0f1
$font_color2: #2c3e50
$font_family1: "Arial"
$p: 4px
$font_size1: $p * 8
$font_size2: $p * 5
$input_h: $p * 8
$btn_h: $input_h
$topnav_h: ($btn_h * 2) + ($p * 3)
body
    margin: 0
    background: url(media/space-background.jpg)
h1
    margin: $p/4 0 0 $p*2
    font-size: $font_size1
h2
    font-size: $font_size2
    color: $font_color1
input
    height: $input_h
    padding: $p $p*2
button
    padding: 0 $p*2
    height: $btn_h
    line-height: 1!important
    font-size: $font_size2
th
    padding: $p*2 $p*3
#topnav
    height: $topnav_h
    background-color: $bg_color3
    color: $font_color1
    font-family: $font_family1
    font-size: $font_size1
    h1, div, button
        float: left
    .spacer
        margin: $p*2 $p*4 $p*2 $p*5
        width: 1px
        height: $btn_h - ($p*2)
        background-color: $font_color1
    button
        padding: 0 $p*2
        margin: $p 0 0 $p
        height: $btn_h
        line-height: $btn_h/2
#game
    background-color: $bg_color1
    position: fixed
    top: $topnav_h
    left: 0
    right: 0
    bottom: 0
.overlay
    position: fixed
    background-color: $bg_color3
    padding: $p*4
    border-radius: .25rem
    #new_btn
        position: absolute
        top: $p*4
        right: $p*4
    table
        width: 100%
        color: $font_color1
    hr
        border-color: $font_color1
        opacity: 0.5
    span
        color: $font_color1
    input
        width: 100%
    #forgot_password
        opacity: 0.5
